@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 44 33% 96%;
    --foreground: 219 39% 13%;
    --card: 0 0% 100%;
    --card-foreground: 219 39% 13%;
    --primary: 219 60% 18%;
    --primary-foreground: 44 33% 96%;
    --secondary: 178 32% 90%;
    --secondary-foreground: 188 47% 18%;
    --muted: 42 25% 90%;
    --muted-foreground: 217 16% 41%;
    --accent: 42 70% 89%;
    --accent-foreground: 37 55% 18%;
    --destructive: 0 72% 44%;
    --destructive-foreground: 0 0% 100%;
    --border: 39 24% 84%;
    --input: 39 24% 84%;
    --ring: 219 60% 18%;
    --radius: 0.5rem;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground antialiased;
  }

  ::selection {
    @apply bg-secondary text-secondary-foreground;
  }
}
